<!DOCTYPE html>
<html>
<head>
  <title>MANNANA</title>
  
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
  
  <!--Bootstrap CDN-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  <!--Fontawesome CDN-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<!--Header Bar-->
<div class = 'header-wrap'>
  <a href = '/'>
    <%=image_tag("로고수정.png", :class => "logo_img")%>
  </a>
  
  <!--모임 구분 메뉴-->
  <div class = 'group_menu'>
  <ul>
      <a href = '/club'><li class = 'active'>동아리</li></a>
      <a href = '#'><li>스터디</li></a>
      <a href = '#'><li>공모전</li></a>
      <a href = '#'><li>스타트업</li></a>
  </ul>
  </div>

  <% if user_signed_in? %>
    <div class = 'user_login'>
        <%= current_user.name %>님
        <!--<a href="/users/sign_out">로그아웃<a>-->
        
        <%= link_to "마이페이지", "/users/show" %>
        
        <!--<%= link_to "회원정보수정", edit_user_registration_url %>-->
        <!--<a href = '/'><li>로그아웃</li></a>-->
        <%= link_to "로그아웃", destroy_user_session_url, :method => :delete %>
        <!--<a href = '/'>마이페이지</a>-->
    </div>
  <% else %>
  
    <div class = 'user_unlog'>
        <!--<a href = '/'><li>로그인</li></a>-->
        <%= link_to "로그인", new_user_session_url %>
        <!--<a href = '/'><li>회원가입</li></a>-->
        <%= link_to "회원가입", new_user_registration_url %>
    </div>

  <% end %>

</div>

<%= yield %>

<div class ='footer-wrap'>
                <%=image_tag("footerlogo.png", :class => "footer_img")%>
                <a>
                  <br>
                  COPYRIGHT© 2018 TEAM MANNANA.
                  <br>
                  ALL RIGHTS RESERVED.
                  <br>
                </a>
</div>

</body>
</html>
